@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,132;0,200;0,300;0,400;0,408;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
    color: rgb(194, 194, 194);
    background-position: no-repeat;
    background-position: center;
    min-height: 100vh;
    background: linear-gradient(to top right, #1e1b4b,#312e81,#1e1b4b);
}

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

@tailwind base;
@tailwind components;
@tailwind utilities;